@model FlightBooking.Models.Seat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSeatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSeatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSeat.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
