@page
@model LoginModel

@{
  ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>

<!-- component -->
<div class="h-full bg-transparent w-full py-16 px-4">
<!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->

<div class="flex flex-col items-center justify-center">

    <h1 href="/" class="font-bold leading-relaxed text-5xl bg-clip-text bg-gradient-to-r from-indigo-500/70 via-pink-600/70 to-violet-600/70 text-transparent">Flight Booking</h1>

    <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
        <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Login to your account</p>
        <p tabindex="0" class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Dont have account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer"> Sign up here</a></p>

        <div class="w-full flex items-center justify-between py-5">
              <hr class="w-full bg-gray-400">
              <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
              <hr class="w-full bg-gray-400  ">
            </div>
            <form id="account" method="post">
              <div>
                  <label class="text-sm font-medium leading-none text-gray-800">
                      UserName
                  </label>
                  <input asp-for="LoginDto.Username" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" autocomplete="username" aria-required="true" />
                  <span asp-validation-for="LoginDto.Username" class="text-danger"></span>                  
              </div>
              <div class="mt-6  w-full">
                  <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                      Password
                  </label>
                  <input asp-for="LoginDto.Password" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                    autocomplete="current-password"
                    aria-required="true" />
                  <span asp-validation-for="LoginDto.Password" class="text-danger"></span>
              </div>
              <div class="mt-8">
                  <button role="button" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Sign in</button>
              </div>
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
    </div>
</div>
</div>




@* 

<h1>@ViewData["Title"]</h1>
<div class="row">
  <div class="col-md-4">
    <section>
      <form id="account" method="post">
        <h2>Use a local account to log in.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
          <input asp-for="LoginDto.Username" class="form-control" autocomplete="username" aria-required="true" />
          <label asp-for="LoginDto.Username" class="form-label"></label>
          <span asp-validation-for="LoginDto.Username" class="text-danger"></span>
        </div>
        <div class="form-floating">
          <input asp-for="LoginDto.Password" class="form-control" autocomplete="current-password"
            aria-required="true" />
          <label asp-for="LoginDto.Password" class="form-label"></label>
          <span asp-validation-for="LoginDto.Password" class="text-danger"></span>
        </div>
        <div>
          <div class="checkbox">
            <label asp-for="LoginDto.RememberMe" class="form-label">
              <input class="form-check-input" asp-for="LoginDto.RememberMe" />
              @Html.DisplayNameFor(m => m.LoginDto.RememberMe)
            </label>
          </div>
        </div>
        <div>
          <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
        <div>
          <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
          </p>
          <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
          </p>
          <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
          </p>
        </div>
      </form>
    </section>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <section>
      <h3>Use another service to log in.</h3>
      <hr />
      @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
          <div>
            <p>
              There are no external authentication services configured. See this <a
                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                about setting up this ASP.NET application to support logging in via external services</a>.
            </p>
          </div>
        }
        else
        {
          <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
            class="form-horizontal">
            <div>
              <p>
                @foreach (var provider in Model.ExternalLogins!)
                {
                  <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
              </p>
            </div>
          </form>
        }
      }
    </section>
  </div>
</div> *@


<!-- Container -->