@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>


<!-- component -->
<div class="h-full bg-transparent w-full py-16 px-4">
<!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->

<div class="flex flex-col items-center justify-center">

    <h1 href="/" class="font-bold leading-relaxed text-5xl bg-clip-text bg-gradient-to-r from-indigo-500/70 via-pink-600/70 to-violet-600/70 text-transparent">Flight Booking</h1>

    <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
        <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Login to your account</p>
        <p tabindex="0" class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Dont have account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none  text-gray-800 cursor-pointer"> Sign up here</a></p>
        <div class="w-full flex items-center justify-between py-5">
              <hr class="w-full bg-gray-400">
              <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
              <hr class="w-full bg-gray-400  ">
            </div>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
              <div class="mt-5 w-full">
                  <label class="text-sm font-medium leading-none text-gray-800">
                      UserName
                  </label>
                  <input asp-for="RegisterDto.UserName" class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" autocomplete="username" aria-required="true" />
                  <span asp-validation-for="RegisterDto.UserName" class="text-danger"></span>                        
              </div>
              <div class="mt-5 w-full grid grid-cols-2 gap-4">
                <div class="mr-1 col-span-2 sm:col-span-1">
                    <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                        FirstName
                    </label>
                    <input asp-for="RegisterDto.FirstName" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                        aria-required="true" />
                    <span asp-validation-for="RegisterDto.FirstName" class="text-danger"></span>
                </div>
                <div class="ml-1 col-span-2 sm:col-span-1">
                    <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                        LastName
                    </label>
                    <input asp-for="RegisterDto.LastName" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                        aria-required="true" />
                    <span asp-validation-for="RegisterDto.LastName" class="text-danger"></span>
                </div>                             
              </div>

              <div class="mt-5 w-full">
                  <label for="pass" aria-placeholder="name@example.com" class="text-sm font-medium leading-none text-gray-800">
                      Email
                  </label>
                  <input asp-for="RegisterDto.Email" class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                    aria-required="true" />
                  <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
              </div>
              <div class="mt-5 w-full">
                  <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                      Password
                  </label>
                  <input asp-for="RegisterDto.Password" autocomplete="new-password" aria-required="true" placeholder="Password"
                        class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                    aria-required="true" />
                  <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>                
              </div>    
              <div class="mt-5 w-full">
                  <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                      Confirm Password
                  </label>
                  <input asp-for="RegisterDto.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm Password"
                        class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
                    aria-required="true" />
                  <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
              </div>

              <div class="mt-5 w-full grid grid-cols-2 gap-4">
                    <div class="mr-1 col-span-2 sm:col-span-1">
                        <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                            Date Of Birth
                        <div
                        class="relative mb-3"
                        data-te-datepicker-init
                        data-te-inline="true"
                        data-te-input-wrapper-init>
                        <input
                            asp-for="RegisterDto.DateOfBirth" type="date" aria-required="true
                            type="text"
                            class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                            placeholder="Select a date" />
                        <label
                            for="floatingInput"
                            class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
                            >Select a date</label
                        >
                        </div>                        
                        <span asp-validation-for="RegisterDto.DateOfBirth" class="text-danger"></span>     
                    </div>
                    <div class="ml-1 col-span-2 sm:col-span-1">
                        <label for="pass" class="text-sm font-medium leading-none text-gray-800">
                            Gender
                        </label>
                        <select data-te-select-init class  asp-for="RegisterDto.Gender" aria-required="true">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <span asp-validation-for="RegisterDto.Gender" class="text-danger"></span>
                    </div>                                             
              </div>

              
              <div class="mt-8">
                  <button id="registerSubmit" type="submit" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">Sign in</button>
              </div>
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </form>
    </div>
</div>
</div>
@* 
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating">
                <input asp-for="RegisterDto.UserName" class="form-control" autocomplete="firstname"
                       aria-required="true" />
                <label asp-for="RegisterDto.UserName"></label>
                <span asp-validation-for="RegisterDto.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="RegisterDto.FirstName" class="form-control" autocomplete="firstname"
                       aria-required="true" />
                <label asp-for="RegisterDto.FirstName"></label>
                <span asp-validation-for="RegisterDto.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="RegisterDto.LastName" class="form-control" autocomplete="firstname"
                       aria-required="true" />
                <label asp-for="RegisterDto.LastName"></label>
                <span asp-validation-for="RegisterDto.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="RegisterDto.Gender" class="form-select" aria-required="true">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <label asp-for="RegisterDto.Gender"></label>
                <span asp-validation-for="RegisterDto.Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.Email" class="form-control" aria-required="true"
                       placeholder="name@example.com" />
                <label asp-for="RegisterDto.Email">Email</label>
                <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.Password" class="form-control" autocomplete="new-password"
                       aria-required="true" placeholder="password" />
                <label asp-for="RegisterDto.Password">Password</label>
                <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RegisterDto.ConfirmPassword" class="form-control" autocomplete="new-password"
                       aria-required="true" placeholder="password" />
                <label asp-for="RegisterDto.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="RegisterDto.DateOfBirth" type="date" class="form-control" autocomplete="firstname"
                       aria-required="true" />
                <label asp-for="RegisterDto.DateOfBirth"></label>
                <span asp-validation-for="RegisterDto.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="RegisterDto.City" class="form-control" autocomplete="firstname" aria-required="true" />
                <label asp-for="RegisterDto.City"></label>
                <span asp-validation-for="RegisterDto.City" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="RegisterDto.Country" class="form-control" autocomplete="firstname"
                       aria-required="true" />
                <label asp-for="RegisterDto.Country"></label>
                <span asp-validation-for="RegisterDto.Country" class="text-danger"></span>
            </div>


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
