@model IEnumerable<FlightBooking.Models.AppUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Accounts" asp-action="Index" method="get">
    <p>
        <select name="searchOption">
            <option value="FullName">FullName</option>
            <option value="UserName">UserName</option>
        </select>        
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-indigo-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]">@Html.DisplayNameFor(model => model.Id)</a>
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSort"]">FullName</a>
                </th>
                <th scope="col" class="px-6 py-3">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSort"]">@Html.DisplayNameFor(model => model.UserName)</a>
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSort"]">@Html.DisplayNameFor(model => model.Gender)</a>
                    
                </th>
                <th scope="col" class="px-6 py-3">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CreatedSort"]">@Html.DisplayNameFor(model => model.Created)</a>
                </th>
                <th scope="col" class="px-6 py-3">
                    Adress
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">
                        @item.Id
                    </td>
                    <td class="px-6 py-4">
                        @(item.FirstName + " " + @item.LastName)
                        
                    </td>
                    <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                        @item.UserName
                    </td>
                    <td class="px-6 py-4">
                        @item.Gender
                    </td>
                    <td class="px-6 py-4">
                        @item.Created
                    </td>
                    <td class="px-6 py-4">
                        @(item.City + "/ " + @item.Country)
                    </td>
                    <td class="px-6 py-4">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@

<partial name="_PagedList"></partial>
